<a href="https://colab.research.google.com/github/aituber-akari/wanderful_R_5/blob/main/%E7%B5%B1%E8%A8%88%E7%9A%84%E5%9B%A0%E6%9E%9C%E6%8E%A8%E8%AB%96%E3%81%AE%E7%90%86%E8%AB%96%E3%81%A8%E5%AE%9F%E8%A3%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter_1

In [1]:
x1 <- c(63, 56, 51, 50, 42)
y1 <- c(63, 66, 61, 60, 52)
df1 <- data.frame(x1, y1)
df1

  x1 y1
1 63 63
2 56 66
3 51 61
4 50 60
5 42 52

- R何年振りやろなぁ？

# Chapter_2